.home-page-logo {
  width: 123px;
  height: 39px;
  background-image: url("../../../assets/images/logo/logo-white.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.flag {
  margin-right: 5px;
}

.mat-toolbar {
  background-color: #1f3852;
}

.search-box {
  font-size: 12px;
}

.coin-logo {
  margin-right: 5px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.language-button {
  color: white;
  margin-right: 5px !important;
}

.search-button {
  color: white;
}

#mobile-search-container {
  background-color: #f7f6f4;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  z-index: 935;
  overflow: scroll;
  width: 100%;
}

#mobile-search-box {
  background-color: #1f3852;
  display: flex;
}

#mobile-search-button {
  bottom: 2.5px !important;
  vertical-align: super;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
}

//mat-input focused color
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #2e92e8 !important;
}

/* input color class */
::ng-deep input.mat-input-element {
  color: white;
}

//input outline color
::ng-deep .mat-form-field-wrapper {
  padding: 0;
}
