<mat-toolbar>
    <mat-toolbar-row>
        <img [routerLink]="['/']" class="logo" src="assets/images/logo/logo.png" alt="home-logo">
        <div fxFlex fxLayoutGap="20px" fxLayoutAlign="flex-end">
            <button mat-icon-button [matMenuTriggerFor]="languageMenu" aria-label="Language menu">
                <mat-icon>language</mat-icon>
            </button>

            <mat-menu #languageMenu="matMenu">
                <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <img class="flag" [src]="'assets/images/flags/'+lang.flag">
                        <span>{{lang.name}}</span>
                    </span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>