<mat-toolbar>
    <mat-toolbar-row fxLayout="row" fxLayoutGap="20px" style="color: aliceblue;">
        <div class="home-page-logo" [routerLink]="['/']">
            <img src="../../../assets/images/logo/test.png" alt="home-page-logo">
        </div>


        <a mat-button matTooltip="Coming soon" aria-label="Top winners"
            fxHide.lt-md>{{'toolbar.top_winners' | translate}}&nbsp;<mat-icon>emoji_events</mat-icon></a>
        <a mat-button matTooltip="Coming soon" aria-label="Top winners"
            fxHide.lt-md>{{'toolbar.top_losers' | translate}}&nbsp;<mat-icon>trending_down</mat-icon></a>

        <div fxFlex fxLayoutAlign="flex-end" fxLayoutGap="20px">
            <form [formGroup]="form" fxHide.lt-sm>
                <mat-form-field appearance="outline" class="search-box">
                    <input matInput formControlName="search" [matAutocomplete]="auto">
                    <mat-icon class="search-button" matSuffix>search</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let result of searchResults$ | async" [value]="result.name"
                            class="clickable" [routerLink]="['/coins',result.id]" (click)="showSearchBox = false">
                            <div *ngIf="result.image" class="mat-small">
                                <img [src]="result.image" class="coin-logo" [alt]="result.name">
                                <span>{{result.name}} ({{result.symbol | uppercase}})</span>
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
            <div fxLayoutAlign="center center" fxHide fxShow.lt-sm>
                <button mat-icon-button aria-label="Search" class="language-button" (click)="showSearchBox = true">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <div fxLayoutAlign="center center">
                <button mat-icon-button [matMenuTriggerFor]="languageMenu" aria-label="Language menu"
                    class="language-button">
                    <mat-icon>public</mat-icon>
                </button>

                <mat-menu #languageMenu="matMenu">
                    <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <img class="flag" [src]="'assets/images/flags/'+lang.flag">
                            <span>{{lang.name}}</span>
                        </span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div id="mobile-search-container" *ngIf="showSearchBox">
    <div id="mobile-search-box">
        <form [formGroup]="form" fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <mat-form-field appearance="outline" fxFlex>
                <input matInput formControlName="search" [matAutocomplete]="auto" style="font-size: 16px;">
                <button id="mobile-search-button" mat-flat-button matSuffix
                    (click)="showSearchBox = false">Cancel</button>
            </mat-form-field>
        </form>
    </div>
</div>