<!-- PAGINATION -->
<!-- <div class="join my-4">
    <input class="join-item btn btn-sm btn-square" type="radio" name="options" aria-label="1" checked />
    <input class="join-item btn btn-sm btn-square" type="radio" name="options" aria-label="2" />
    <button class="join-item btn btn-sm btn-disabled">...</button>
    <input class="join-item btn btn-sm btn-square" type="radio" name="options" [attr.aria-label]="maxPage - 1" />
    <input class="join-item btn btn-sm btn-square" type="radio" name="options" [attr.aria-label]="maxPage" />
  </div> -->
<div class="flex justify-between my-4">
  <button class="btn btn-sm md:btn-md gap-2 normal-case lg:gap-3" (click)="previous()" [disabled]="pageNumber <= 1">
    <svg
      class="h-6 w-6 fill-current md:h-8 md:w-8"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"></path>
    </svg>
    <div class="flex flex-col items-start">
      <span class="text-base-content/50 hidden text-xs font-normal md:block">{{
        'home.table.paginator.previous' | translate
      }}</span
      ><span>{{ 'home.table.paginator.page' | translate }}</span>
    </div>
  </button>

  <button class="btn btn-sm md:btn-md gap-2 normal-case lg:gap-3" (click)="next()">
    <div class="flex flex-col items-end">
      <span class="text-base-content/50 hidden text-xs font-normal md:block">{{
        'home.table.paginator.next' | translate
      }}</span
      ><span>{{ 'home.table.paginator.page' | translate }}</span>
    </div>
    <svg
      class="h-6 w-6 fill-current md:h-8 md:w-8"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
    </svg>
  </button>
</div>
