:root {
    --primary-color: #041c32;
    --secondary-color: #064663;
    --accent-color: #ECB365;
    --main-black: #0f151b;
    --secondary-black: #2f3a45;
    --main-white: #ffffff;
    --main-gray: #0000008a;
    --grayed-out: #dfe7ef;
}