::ng-deep ngx-skeleton-loader {
  max-width: 100% !important;
}

::ng-deep ngx-skeleton-loader > span.loader {
    vertical-align: middle !important;
    margin-bottom: 0px !important;
    background-color: #ddd !important;
    max-width: 100% !important;
  }