<div class="market-info-cards" fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
            <mat-icon class="stats">local_atm</mat-icon>
            <span fxFlex>
                {{'home.stats.cryptocurrencies' | translate}}
            </span>
            <span fxFlex class="crypto-info-numbers">
                {{globalInfo?.active_cryptocurrencies | number:'1.0-0'}}
            </span>
            <ngx-skeleton-loader *ngIf="!globalInfo" [theme]="skeletonSize">
            </ngx-skeleton-loader>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
            <mat-icon class="stats">storefront</mat-icon>
            <span fxFlex>
                {{'home.stats.markets' | translate}}
            </span>
            <span fxFlex class="crypto-info-numbers">
                {{globalInfo?.markets | number:'1.0-0'}}
            </span>
            <ngx-skeleton-loader *ngIf="!globalInfo" [theme]="skeletonSize">
            </ngx-skeleton-loader>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
            <mat-icon class="stats">payments</mat-icon>
            <span fxFlex>
                {{'home.stats.total_market_cap' | translate}}
            </span>
            <span fxFlex class="crypto-info-numbers">
                {{globalInfo?.total_market_cap.usd | currency:'USD':'symbol':'1.0-0'}}
            </span>
            <ngx-skeleton-loader *ngIf="!globalInfo" [theme]="skeletonSize">
            </ngx-skeleton-loader>
        </mat-card-content>
    </mat-card>
</div>


<mat-card fxHide.lt-sm>
    <mat-card-content class="trends-info-card" fxLayout="row">
        <div fxFlex="20" fxLayoutAlign="center center">
            <span class="clickable" [routerLink]="['/coins',importantTrends.trendUp1.id]"
                *ngIf="importantTrends.trendUp1">
                {{importantTrends.trendUp1.symbol | uppercase}}
                {{importantTrends.trendUp1.price_change_percentage_24h | number:'1.1-1'}}%
                <mat-icon class="trend-up">trending_up</mat-icon>
            </span>
            <ngx-skeleton-loader *ngIf="!importantTrends.trendUp1" [theme]="skeletonSize">
            </ngx-skeleton-loader>
        </div>
        <div fxFlex="20" fxLayoutAlign="center center">
            <span *ngIf="importantTrends.trendUp2" class="clickable"
                [routerLink]="['/coins',importantTrends.trendUp2.id]">
                {{importantTrends.trendUp2.symbol | uppercase}}
                {{importantTrends.trendUp2.price_change_percentage_24h | number:'1.1-1'}}%
                <mat-icon class="trend-up">trending_up</mat-icon>
            </span>
            <ngx-skeleton-loader *ngIf="!importantTrends.trendUp2" [theme]="skeletonSize">
            </ngx-skeleton-loader>
        </div>

        <div fxFlex="20" fxLayoutAlign="center center">
            <span class="clickable" [routerLink]="['/coins',importantTrends.hot.id]" *ngIf="importantTrends.hot">
                {{importantTrends.hot.symbol | uppercase}}
                <mat-icon class="trend-down">whatshot</mat-icon>
            </span>
            <ngx-skeleton-loader *ngIf="!importantTrends.hot" [theme]="skeletonSize">
            </ngx-skeleton-loader>
        </div>

        <div fxFlex="20" fxLayoutAlign="center center">
            <span class="clickable" [routerLink]="['/coins',importantTrends.trendDown1.id]"
                *ngIf="importantTrends.trendDown1">
                {{importantTrends.trendDown1.symbol | uppercase}}
                {{importantTrends.trendDown1.price_change_percentage_24h | number:'1.1-1'}}%
                <mat-icon class="trend-down">trending_down</mat-icon>
            </span>
            <ngx-skeleton-loader *ngIf="!importantTrends.trendDown1" [theme]="skeletonSize">
            </ngx-skeleton-loader>
        </div>
        <div fxFlex="20" fxLayoutAlign="center center">
            <span class="clickable" [routerLink]="['/coins',importantTrends.trendDown2.id]"
                *ngIf="importantTrends.trendDown2">
                {{importantTrends.trendDown2.symbol | uppercase}}
                {{importantTrends.trendDown2.price_change_percentage_24h | number:'1.1-1'}}%
                <mat-icon class="trend-down">trending_down</mat-icon>
            </span>
            <ngx-skeleton-loader *ngIf="!importantTrends.trendDown2" [theme]="skeletonSize">
            </ngx-skeleton-loader>
        </div>
    </mat-card-content>
</mat-card>