.mat-card {
  color: black;
  background: #fff;
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  box-shadow: rgb(88 102 126 / 8%) 0px 4px 24px, rgb(88 102 126 / 12%) 0px 1px 2px;
}

.mat-card-content > p {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 5px;
}

.mat-card-content > p.crypto-info-numbers {
  color: #1f3852;
  font-weight: 600;
  font-size: 16px;
}

mat-icon {
  vertical-align: sub;
  &.stats {
    color: #1f3852;
  }
}

a {
  text-decoration: none;
  color: black;
}

.market-info-cards {
  margin-bottom: 30px;
}

.trends-info-card {
  padding: 5px 20px 5px 20px;
}

.mat-card-content.trends-info-card a {
  font-weight: 500;
  font-size: 16px;
}

.trend-up {
  color: green;
}

.trend-down {
  color: red;
}
