.mat-card {
  color: black;
  background: rgba(0, 0, 0, 0.04);
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  // box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  // box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  // box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

mat-icon {
  vertical-align: sub;
  &.stats {
    color: #1f3852;
  }
}

.market-info-cards {
  margin-bottom: 30px;
}

.trends-info-card {
  padding: 5px 20px 5px 20px;
}

.crypto-info-numbers {
  color: #1f3852;
  font-weight: 500;
}

.trend-up {
  color: green;
}

.trend-down {
  color: red;
}
