.market-info-cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }

  .crypto-info-numbers {
    color: rgb(15, 21, 27);
    font-weight: 600;
  }

}


mat-icon {
  vertical-align: sub;
}

a {
  text-decoration: none;
  color: black;
}

.market-info-cards {
  margin-bottom: 30px;
}

.trends-info-card {
  padding: 5px 20px 5px 20px;
}

.mat-card-content.trends-info-card a {
  font-weight: 500;
  font-size: 16px;
}

.trend-up {
  color: green;
}

.trend-down {
  color: red;
}