<div class="market-info-cards">
  <mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="material-icons-outlined icon-wrapper">local_atm</mat-icon>
      <span fxFlex>
        {{ 'home.stats.cryptocurrencies' | translate }}
      </span>
      <span fxFlex class="crypto-info-numbers">
        {{ globalInfo?.active_cryptocurrencies | number : '1.0-0' }}
      </span>
      <ngx-skeleton-loader *ngIf="!globalInfo" [theme]="skeletonSize"> </ngx-skeleton-loader>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="material-icons-outlined icon-wrapper">storefront</mat-icon>
      <span fxFlex>
        {{ 'home.stats.markets' | translate }}
      </span>
      <span fxFlex class="crypto-info-numbers">
        {{ globalInfo?.markets | number : '1.0-0' }}
      </span>
      <ngx-skeleton-loader *ngIf="!globalInfo" [theme]="skeletonSize"> </ngx-skeleton-loader>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="material-icons-outlined icon-wrapper">analytics</mat-icon>
      <span fxFlex>
        {{ 'home.stats.total_market_cap' | translate }}
      </span>
      <span fxFlex class="crypto-info-numbers">
        {{ globalInfo?.total_market_cap.usd | currency : 'USD' : 'symbol' : '1.0-0' }}
      </span>
      <ngx-skeleton-loader *ngIf="!globalInfo" [theme]="skeletonSize"> </ngx-skeleton-loader>
    </mat-card-content>
  </mat-card>
</div>
