<div class="wrapper" fxLayout="column">
    <div fxLayout="row" class="mat-h4">
        <span class="clickable coins-view-link"
            [routerLink]="['/']">{{'coin-overview.coins' | translate}}</span>{{tokenData?.name}}
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center" class="coin-info-header">
        <div *ngIf="tokenData" fxFlex>
            <img [src]="tokenData.image.small" class="coin-logo" [alt]="tokenData.name">
            <span class="mat-display-1">{{tokenData.name}} ({{tokenData.symbol | uppercase}})</span>
        </div>

        <div class="coin-price" *ngIf="tokenData" fxFlex fxLayoutAlign="end">
            <span
                class="mat-h1">{{tokenData.market_data.current_price.usd | currency:'USD':'symbol-narrow':'1.2-6'}}</span>
            <span class="coin-percentage"
                [ngStyle]="{'color': tokenData.market_data.price_change_percentage_24h > 0 ? 'green' : 'red'}">
                {{tokenData.market_data.price_change_percentage_24h | number:'1.2-2'}}%
            </span>
        </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px" class="mat-h4 links">
        <div fxFlex>
            <span>
                <mat-icon>insert_chart</mat-icon>Rank {{tokenData?.market_cap_rank}}
            </span>
        </div>

        <div fxFlex>
            <a mat-stroked-button href="{{tokenData?.links.homepage[0]}}" target="_blank" color="primary" [disabled]="tokenData?.links.homepage.length === 0">
                <mat-icon>link</mat-icon>Website
            </a>
        </div>

        <div fxFlex>
            <a mat-stroked-button href="{{tokenData?.links.repos_url.github[0]}}" target="_blank" color="primary" [disabled]="tokenData?.links.repos_url.github.length === 0">
                <mat-icon>code</mat-icon>Github
            </a>
        </div>

        <div fxFlex>
            <a mat-stroked-button href="{{tokenData?.links.subreddit_url}}" target="_blank" color="primary" [disabled]="!tokenData?.links.subreddit_url">
                <mat-icon>share</mat-icon>Reddit
            </a>
        </div>
    </div>

    <div [chart]="chart"></div>
</div>