.mat-card {
  color: black;
  background: rgba(0, 0, 0, 0.04);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  .mat-card-content > h2 {
    text-align: center;
  }
}

#coin-name {
  font-size: 34px;
  font-weight: 400;
  margin: 0px;
  outline: 0px;
}

#rank-icon {
  vertical-align: middle;
  margin-right: 5px;
}

#rank-number {
  background: rgb(92, 184, 92);
  border-radius: 0.25em;
  padding: 4px 8px;
  font-size: 13px;
  color: rgb(255, 255, 255);
  vertical-align: baseline;
  line-height: 1;
}

#coin-chart {
  margin-top: 40px;
}

.coins-view-link {
  color: #3586ff;
  text-decoration: none;
}

.coin-info-header {
  margin: 25px 0 25px 0;
}

.coin-percentage {
  padding-left: 5px;
}

.links .mat-icon {
  vertical-align: middle;
  margin-right: 5px;
}

mat-table {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

mat-header-cell {
  font-size: 14px;
}

mat-header-cell,
mat-cell {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

@media only screen and (max-width: 959px) {
  #coin-name {
    text-align: center;
  }

  #coin-logo {
    margin-right: 0px;
  }
}
