@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'styles/variables';

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  // @TODO @THEME Check this
  // background-color: rgb(240, 244, 248);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}