@import 'styles/variables';

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  background-color: rgb(240, 244, 248);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  font-feature-settings: "tnum";
  color: var(--main-black);
  font-size: 16px;
  line-height: 24px;
}

//----------------------------------*\
// Useful
//----------------------------------*/

button {
  outline: none;
  border-radius: 8px;
}

button,
.mat-button,
.mat-flat-button {
  color: #fff;
  background-color: var(--secondary-color);
}

.mat-stroked-button {
  color: var(--secondary-color);
}

.center-text {
  width: 100%;
  text-align: center;
}

.clickable {
  cursor: pointer;
  outline: none;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px 20px 50px 20px;
  position: relative;
  min-height: 100%;
}

.grayed-out {
  color: var(--grayed-out);
}

mat-card.mat-mdc-card {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 4px;
  min-width: 0px;
  min-height: 0px;
  margin: 0px;
  overflow: hidden;
  box-shadow: rgb(226, 234, 241) 0px 2px 4px;
}

mat-icon.icon-wrapper {
  background: rgb(240, 244, 248);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

// MOBILE
@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 20px 5px 50px 5px;
  }
}