.mat-table {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  background-color:  #fff;
  box-shadow: none;
}

.coin-logo {
  width: 25px;
  height: 25px;
}

.mat-cell {
  font-size: 13.5px;
  font-weight: 500;
  padding-right: 15px;
  color: #333333;
}

.mat-cell > a {
  text-decoration: none;
  color: black;
}

.mat-header-cell {
  font-weight: 600;
  padding-right: 15px;
}

.mat-column-market_cap_rank {
  max-width: 50px;
}

.mat-column-market_cap {
  // min-width: fit-content;
  display: flex;
  justify-content: flex-end;
}

.mat-column-current_price {
  max-width: 110px;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}

.mat-column-price_change_percentage_24h {
  max-width: 110px;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}

.mat-column-total_volume {
  display: flex;
  justify-content: flex-end;
}

.mat-column-circulating_supply {
  display: flex;
  justify-content: flex-end;
}

.mat-column-sparkline7d {
  display: flex;
  justify-content: flex-end;
}

.mat-row:hover {
  background-color: #f8fafd;
}

.mat-row,
.mat-header-row {
  min-width: 1100px;
  width: 100%;
}

.mat-header-row {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: inherit;
}

::ng-deep .mat-sort-header-arrow {
  margin-right: -20px !important;
}

::ng-deep .mat-sort-header-container {
  padding-right: 5px !important;
}

.table-title {
  font-size: 24px;
  font-weight: 600;
  margin: 30px 0px 0px 0px;
}

.paginator {
  padding-top: 10px;
  padding-bottom: 10px;
  .mat-icon {
    padding-bottom: 4px;
  }
}

.rank-tooltip {
  border-radius: 4px;
  padding: 0px 4px;
  display: inline-block;
  font-size: 10px;
  background: rgb(239, 242, 245);
  color: rgb(88, 102, 126);
}

@media only screen and (max-width: 800px) {
  .mat-row,
  .mat-header-row {
    min-width: 950px;
    width: 100%;
  }

  .table-title {
    font-size: 20px;
  }

  .mat-column-current_price {
    max-width: 80px;
  }

  .mat-column-name {
    max-width: 120px;
    padding-left: 15px;
    padding-right: 5px;

    ngx-skeleton-loader {
      padding-right: 15px;
    }
  }

  .mat-column-market_cap {
    max-width: 130px;
  }

  .mat-column-total_volume {
    max-width: 130px;
  }

  .mat-column-circulating_supply {
    max-width: 160px;
  }

  .mat-column-price_change_percentage_24h {
    max-width: 80px;
  }

  .mat-column-sparkline7d {
    max-width: 150px;
  }
}
