mat-table {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.mat-cell {
  font-size: 13px;
  padding-right: 15px;
}

.mat-header-cell {
  padding-right: 15px;
}

.coin-logo {
  margin-right: 5px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.mat-column-market_cap_rank {
  max-width: 50px;
}

.mat-column-name {
  font-weight: 500;
}

.mat-column-current_price {
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
}

.mat-column-total_volume {
  display: flex;
  justify-content: flex-end;
}

.mat-column-circulating_supply {
  display: flex;
  justify-content: flex-end;
}

.mat-column-price_change_percentage_24h {
  display: flex;
  justify-content: flex-end;
}

.mat-column-sparkline7d {
  display: flex;
  justify-content: flex-end;
}

.mat-row,
.mat-header-row {
  min-width: 1100px;
  width: 100%;
}

.mat-header-row {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: inherit;
}

.table-title {
  margin: 30px 0px 20px 0px;
  @media only screen and (max-width: 800px) {
    font-size: 25px;
  }
}

.paginator{
  padding-top: 10px;
  padding-bottom: 10px;
  .mat-icon{
    padding-bottom: 4px;
  }
}
