<section class="pb-10">
  <h1 class="font-bold text-lg sm:text-2xl text-justify">{{ 'home.title' | translate }}</h1>
  <h3 class="font-semibold text-base sm:text-xl text-gray-500" [ngClass]="globalCoinData ? '' : 'skeleton'">
    {{
      'home.subtitle'
        | translate
          : {
              total_market_cap: (globalCoinData.total_market_cap.usd | numberSuffix : 2),
              market_cap_change_percentage_24h: (globalCoinData.market_cap_change_percentage_24h_usd | number : '1.2-2')
            }
    }}
  </h3>
</section>

<!-- TABLE -->
<div class="overflow-x-auto">
  <table class="table table-sm sm:table-md">
    <thead>
      <tr>
        <th>{{ 'home.table.rank' | translate }}</th>
        <th>{{ 'home.table.name' | translate }}</th>
        <th>{{ 'home.table.market_cap' | translate }}</th>
        <th>{{ 'home.table.price' | translate }}</th>
        <th>{{ 'home.table.volume' | translate }}</th>
        <th>{{ 'home.table.circulating_supply' | translate }}</th>
        <th>{{ 'home.table.change_24h' | translate }}</th>
        <th>{{ 'home.table.graph_7d' | translate }}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let element of tableCoins">
        <th class="w-0.5 sm:w-1" [ngClass]="element ? '' : 'skeleton'">{{ element?.market_cap_rank }}</th>
        <td class="cursor-pointer" [ngClass]="element ? '' : 'skeleton'">
          <div [routerLink]="['/coins', element.id]">
            <img class="inline w-5 sm:w-6 mr-1" [src]="element?.image" />
            <span class="font-medium">{{ element?.name }}</span>
          </div>
        </td>
        <td>{{ element?.market_cap | numberSuffix : 2 }}</td>
        <td class="font-medium">{{ element?.current_price | currency }}</td>
        <td>{{ element?.total_volume | numberSuffix : 2 }}</td>
        <td>
          {{ element?.circulating_supply | numberSuffix : 2 }}
          <progress
            *ngIf="element.max_supply"
            class="progress progress-primary max-w-full block"
            [value]="(element.circulating_supply / element.max_supply) * 100"
            max="100"
          ></progress>
        </td>
        <td class="font-medium">
          <ng-container
            *ngIf="element && element.price_change_percentage_24h > 0; then upArrow; else downArrow"
          ></ng-container>

          <ng-template #upArrow>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4 stroke-green-500 inline"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 18L9 11.25l4.306 4.307a11.95 11.95 0 015.814-5.519l2.74-1.22m0 0l-5.94-2.28m5.94 2.28l-2.28 5.941"
              />
            </svg>
          </ng-template>
          <ng-template #downArrow>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4 stroke-red-500 inline"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 6L9 12.75l4.286-4.286a11.948 11.948 0 014.306 6.43l.776 2.898m0 0l3.182-5.511m-3.182 5.51l-5.511-3.181"
              />
            </svg>
          </ng-template>
          {{ element.price_change_percentage_24h | absolute | number : '1.2-2' }}%
        </td>
        <td class="w-40 cursor-pointer">
          <ngx-trend
            *ngIf="element"
            [data]="element.sparkline_in_7d.price"
            [strokeWidth]="2"
            [smooth]="true"
            [radius]="10"
            [stroke]="element.price_change_percentage_24h > 0 ? 'green' : 'red'"
            strokeLinecap="round"
          >
          </ngx-trend>
        </td>
      </tr>
    </tbody>
  </table>
</div>
